.my-root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #242424;
}

.header {
  background-color: lightblue;
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
}

.title {
  text-align: left;
  width: 50%;
  height: 100%;
  

}

.counter {
  text-align: right;
  width: 50%;
  height: 100%;
  padding: 20px;
  
}

.target-grid {
  width: 280px;
  height: 280px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: centre; */
}

.grid-cell {
  width: 26px;
  height: 26px;
  background-color: lightslategray;
  margin: 1px;
  cursor: pointer;
  /* transition-duration: 0.3s; */
}

.grid-cell:hover {
  opacity: 0.7;
}

.grid-cell-water {
  width: 26px;
  height: 26px;
  background-color: lightskyblue;
  color: white;
  margin: 1px;
  cursor: pointer;
  transition-duration: 0.05s;
}

.grid-cell-boat {
  width: 26px;
  height: 26px;
  background-color: rgb(18, 46, 82);
  color: darkgrey;
  margin: 1px;
  cursor: pointer;
  transition-duration: 0.05s;
  padding: 3px;
  text-align: center;
}

.fleet-container {
  width: 50%;
  min-width: 380px;
  max-width: 580px;
  height: 200px;
  background-color: #242424;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
  padding: 30px;
}

.boat-2 {
  width: 30px;
  height: 60px;
  background-color: #92817A;
  margin: auto;
  opacity: 1.0;
}

.boat-3 {
  width: 30px;
  height: 90px;
  background-color: #82655a;
  margin: auto;
}

.boat-4 {
  width: 30px;
  height: 120px;
  background-color: #92817a;
  margin: auto;
}

.boat-5 {
  width: 30px;
  height: 150px;
  background-color: #82655a;
  margin: auto;
}
